/*
font-family: 'Dancing Script', cursive;
font-family: 'Edu NSW ACT Foundation', cursive;

*/
:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #b6dcc9;
    --secondary-color: #d2647d;
    --sections:rgba(134, 108, 134, 0.7);
    --text:rgb(252, 252, 238);
    /*--error-color: #A53860;*/
    --error-color:#ff471e;
}
body{
color:var(--text);
font-family: 'Edu NSW ACT Foundation', cursive;
}
.background {
    background-color: var(--primary-color);
    margin: 0;
    counter-reset: section;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    font-family: 'Dancing Script', cursive;
    min-height:20vh;
    /*background-color: var(--secondary-color);*/
    color: var(--primary-color);
    padding: 0 2rem;
    display: flex;
    align-items: center;
}

.header_home {
    font-size: 5rem;
    text-decoration: none;
    text-shadow:.1rem .1rem rgb(119, 130, 167);
    color:var(--primary-color);
    color:#310e48;
}
a{
    color:#61C9A8;
}
.header_nav_link {
    margin-left: 20px;
    vertical-align: top;
    line-height: 40px;
}

.about {
    margin-left: 20px;
}
.btn-container{
    display:flex;
    justify-content: center;
}
.button, button {
    width:50%;
    background: #61C9A8;

    padding: .5rem 1rem;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    margin-top:2rem;
    font-family: inherit;
    font-weight:500;
    font-size:1.6rem;
}

.button:hover, button:hover {
    background-color:#BBCBCB;
}


.card {
    color: var(--text);
    background-color: var(--sections);
    margin: 10% auto;
    padding: 20px;
    color: var(--text);
    max-width:50%;
    box-shadow: 0 0 1rem 0 rgba(64, 49, 69, .6);
}
.card h2{
    text-align:center;
    letter-spacing: 1px;
}

.checkbox-field{
    display:grid;
    grid-template-columns:2;
    font-size:1.4rem;
    font-weight:500;
    margin:0 auto;
    width:fit-content;
    height:fit-content;
    gap:.5rem;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
    margin:0 auto;
}

.form-field {
    display: flex;
    flex-direction: column;
    text-align:center;
    font-size:1.4rem;
    gap:.5rem;
    font-weight:500;
}
.form-field input{
    padding:.4rem .2rem;
    font-size:1rem;
}
.form-field input,
textarea{
    background-color:ivory;
}

#concert-list li {
    margin-bottom: 1rem;
}

.state {
    display: none;
}

.state.active {
    display: block;
}
